exmaples/spring/.classpath
exmaples/spring/.factorypath
exmaples/spring/.settings/org.eclipse.jdt.apt.core.prefs
exmaples/spring/.settings/org.eclipse.jdt.core.prefs
exmaples/spring/.settings/org.eclipse.m2e.core.prefs
exmaples/spring/.project
