<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div{outline:1px solid red;}
        div.container{outline:1px solid blue;}
        div.container{
            display: flex;
        }
        div.container .item{
            /* width: 50px;  */
            height: 50px; margin: 5px;;
        }
        .item {flex:1;} /* flex-grow:1; flex-shrink:1; flex-basis:0; */
        .item.box1{flex:2}
        .item.box2{flex:3}
        .item.box3{flex:1}
        .item.box4{flex:4}
    
    </style>
</head>
<body>
    <div class="container">
        <div class="item box1">box1</div>
        <div class="item box2">box2</div>
        <div class="item box3">box3</div>
        <div class="item box4">box4</div>
    </div>
</body>
</html>