<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <style>
        a {
            text-decoration: none;
            color:white;
        }
        ul{
            outline: 2px solid red;
            padding:0px;
            list-style-type: none;
        }
        ul > li {
            float:left;
            outline: 2px solid green;
            width:80px;
            padding: 5px 10px;
            text-align: center;
            background-color: black;
        }
        ul > li:hover {
            background-color: tomato;
        }
        .wrapper{
            position: sticky;
            top:0px;
            width:100%;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <ul>
            <li><a href="#">java</a></li>
            <li><a href="#">oracle</a></li>
            <li><a href="#">html</a></li>
            <li><a href="#">css</a></li>
            <li><a href="#">javascript</a></li>
        </ul>
    </div>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque, quod a earum sapiente hic quas magnam quaerat quisquam delectus porro, eveniet, quae laboriosam quos dolorum laudantium mollitia? Modi, provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel impedit dolorem sed obcaecati veniam? Sint non voluptatibus, facere a odit deleniti quaerat minus perspiciatis laboriosam quia eaque aliquid sunt eligendi.
    Atque amet, iure eius voluptas laudantium dolor magnam accusantium voluptate? Molestias accusamus soluta voluptatum odit voluptatem repellendus placeat quidem, deleniti, odio laborum quos cumque? Dolorum placeat totam fugiat atque velit.
    Sit esse ut reiciendis deserunt voluptate nemo molestiae accusamus dolor vitae necessitatibus rerum, amet, laudantium perferendis dolorem ipsum ipsam adipisci. Quaerat, itaque nemo beatae quis doloremque corrupti at. Voluptatem, officia.
    Itaque quasi nostrum minima omnis sequi at? Sunt repudiandae iusto error ipsum laudantium ipsa odio maxime quae eius obcaecati sequi debitis vel minus magnam, corrupti iste tempore possimus pariatur corporis.
    Maxime temporibus eos possimus ea repellendus? Sint distinctio, mollitia ut harum labore natus officia ad enim sequi impedit voluptates vitae quod, quos, quis velit! In ea nihil rem laboriosam mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates cupiditate similique aperiam. Tempore labore reprehenderit sunt, nemo sint perspiciatis aliquid odit blanditiis at corrupti ipsa asperiores reiciendis architecto, eligendi dignissimos.
    Cum minus quisquam maxime fugiat eius laboriosam iusto perferendis rerum quam necessitatibus, eum illo ut! Libero, quam odit similique labore fuga explicabo perspiciatis recusandae temporibus unde alias natus illo! Ea?
    Ratione dicta voluptatibus consequatur deleniti! Minus et obcaecati ad possimus saepe placeat molestias provident vero autem vel dolore eos quidem mollitia, distinctio error unde ipsum excepturi veritatis sequi! Illo, maiores.
    Ex hic quaerat fuga iure a. Libero maiores hic sunt aut recusandae voluptates magni, repellat quis consequuntur distinctio, illo quasi inventore quia? Adipisci, ipsam! Asperiores ad voluptatibus error iusto animi!
    Eveniet nesciunt nostrum numquam vitae facere. Quae architecto magnam, possimus aperiam voluptas alias, sit repellat voluptate sapiente excepturi illo! Sapiente, laudantium. Laudantium dolore dolorem sint? Voluptatem facilis optio magnam excepturi?
    Perferendis voluptates quas, ducimus dolorum nostrum, obcaecati inventore optio, sint laborum delectus dolorem. Eveniet, error temporibus omnis exercitationem ipsam, sit nihil, iusto unde dicta consequuntur accusantium esse quaerat! Ex, et.
    Ipsa officiis nihil voluptate nobis! Natus, cum. Totam quo incidunt autem expedita non porro iure quaerat, ratione, accusamus voluptas amet veniam quam? Perspiciatis laudantium, perferendis voluptatibus repellendus ad nisi consectetur.
    Vitae atque esse dolores, quae quibusdam impedit odio eaque! Aut praesentium similique optio, tempora distinctio esse fugiat cupiditate illum. Nisi ullam asperiores a molestias velit accusantium reprehenderit. Exercitationem, nisi obcaecati!
    Velit distinctio sint asperiores, similique harum, ullam officia sit nulla et minus quis, sed vel. Deleniti voluptatum soluta debitis illum. Modi quaerat reiciendis autem hic corporis vitae natus atque nulla.
    Aliquam, soluta. Temporibus atque nesciunt, itaque modi blanditiis perferendis reprehenderit iste esse provident architecto suscipit maxime, laborum adipisci eaque inventore repudiandae id nulla! In dolor quo architecto voluptates libero aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugit natus voluptatum ipsa officia. Id ipsa eveniet, cupiditate nesciunt, repellat ipsum ex repellendus hic ullam delectus expedita incidunt accusantium soluta? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, quam voluptate cum non error porro magni mollitia suscipit voluptatum, obcaecati cupiditate totam, nemo culpa nisi distinctio asperiores repellat optio labore.
    Blanditiis, laudantium, ex porro maxime nesciunt facere, ab vero dicta necessitatibus neque molestiae a. Harum animi eius sit odio architecto repellat ratione modi qui repudiandae unde vero ad, impedit nihil.
    Libero molestias repellat accusamus laudantium unde ullam officia nam voluptas, consequuntur consequatur fugiat velit, illo, pariatur nesciunt officiis. Non accusantium praesentium numquam cum nam ad quod sunt ratione officia sequi.
    Quisquam corrupti eligendi asperiores aliquam facilis suscipit sint alias odit quasi, harum expedita quidem quod delectus odio libero optio iure ipsum nisi cum accusamus saepe eos. Earum exercitationem omnis consectetur?
    Facere iusto eum quisquam magnam praesentium dignissimos eveniet, beatae odio, dolorum vero nulla ex laborum sed fugit facilis animi similique, explicabo vel. Aliquid aperiam commodi quasi iste ea inventore eos?
    Possimus amet porro, odit perferendis nesciunt dicta nam similique vitae omnis rem aut pariatur qui et aperiam recusandae aspernatur numquam explicabo! Beatae corporis, sed explicabo repellat soluta quidem non ipsa.
    Ipsa temporibus blanditiis quibusdam numquam facere natus itaque, vitae repellendus, magni necessitatibus unde, perspiciatis ipsum dolor? Est error et distinctio quae dignissimos. Aliquid fugit maiores blanditiis unde incidunt dolorem officiis.
    Nesciunt neque dolores adipisci eligendi a ipsum nobis explicabo autem magni vitae ipsam modi quaerat, voluptatem aliquam! Aut ad explicabo eius sed, repellendus illo repellat quisquam maxime! Quia, rerum labore.
    Itaque quam quidem porro laudantium modi tempore animi. Autem soluta facilis error itaque expedita minus at nisi, enim labore voluptate natus mollitia possimus. Suscipit dolores cupiditate explicabo nemo enim totam?
    Voluptate eos non molestias amet sequi, culpa nemo ex, perferendis quod veritatis, autem similique esse repellat maxime eveniet eaque mollitia! Suscipit ea atque quo unde. Cumque dolorum hic nisi soluta! </div>


</body>
</html>