@charset "utf-8";
p {
    text-indent:1em;                   /* 들여쓰기 */
    background-color:aliceblue;      /* 배경색 */
    color:brown;                     /* 폰트 색 */
    font-family: "Lucida Console";     /* 폰트 */
    font-size: 10px;                   /* 폰트 크기*/
}
p > span {
    font-size:1.5em;                   /* 크기 배수(em) */
    text-decoration: underline;        /* 텍스트 밑줄 긋기 */
}